ul,
div {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #333;
  line-height: 1.6;
  vertical-align: baseline;
}

#mainMenu {
  position: absolute;
}

li {
  float: left;
  margin-left: 45px;
}

h1,
ul {
  display: inline-block;
}

.sub_menu {
  float: right;
}

body {
  margin: 100px 150px 150px 150px;
}

#subTitle {
  text-align: center;
}

#emiImg {
  margin: auto;
  display: block;
  margin-bottom: 175px;
}

.sns,
.quick,
.info,
.page,
.copyright a,
.shopinfo .info,
.shopinfo .info a {
  text-align: center;
  font-size: 11px;
  color: #333;
  text-decoration: none;
  font-style: normal !important;
}

.quick {
  margin: 50px 0;
}

.foot {
  text-align: center;
}

.scrollToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
}

#view ul {
  display: none;
}

#view:hover ul {
  display: block;
  float: none;
}

a {
  text-decoration: none;
  color: black;
}